HTTP状态码 | 框架师

https://mobaijun.com/posts/3321238106.html 

 
HTTP状态码HTTP状态码（英语：HTTP Status Code）是用以表示网页服务器超文本传输协议响应状态的3位数字代码。它由 RFC 2616 规范定义的，并得到 RFC 2518、RFC 2817、RFC 2295、RFC 27